---
Title: Cake.Svn
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Subversion Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to run <a href="https://subversion.apache.org/" target="_blank">Subversion</a> operations from Cake build scripts.
    </p>
</div>